i {
  margin-right: 2px;
}

body {
  background-color: #f4f5f1;
  background-image: url(./bck2.png) !important;
  height: 30vh;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex !important;
  font-family: "roboto";
}

a.page-link {
  color: #14575d;
}

a.page-link:hover {
  color: #667d85;
}

@media only screen and (max-width: 1025px) {
  .form-control, .form-control:focus, .form-control:active {
    font-size: 2rem !important;
  }
  .card {
    width: 80%;
    justify-content: center;
    margin: auto;
  }
  .container {
    display: table;
    justify-content: center !important;
  }
  .body {
    justify-content: center !important;
  }
  .likebutton, .edit, .delete {
    font-size: 1.2rem;
    color: #919396;
  }
  .delete {
    margin-left: 20px;
    background-color: transparent;
    border: none;
  }
  .edit {
    background-color: transparent;
    border: none;
  }
  .edit:hover, .delete:hover {
    color: #667d85;
    border: none;
  }
  .card-subtitle {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .card-header {
    background-image: url(./bck2.png), linear-gradient(-90deg, #667d85, #c0d3df);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .card-body {
    background-color: #e6eaec !important;
  }
  .card-text {
    font-size: 1.8rem;
    color: #282828;
  }
  .page-item,
  .page-link {
    font-size: 1.1rem;
    position: relative;
    display: block;
    padding: 3px;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #e6eaec !important;
    border: 1px solid #bcc7cb !important;
  }
  .network {
    display: none;
  }
  .details-follow {
    font-size: 40px;
    margin: 10px;
    color: #919396;
    font-family: "roboto";
  }
  .details-name {
    font-size: 54px;
    margin: 10px;
    color: #282828;
    font-family: "roboto";
  }
  .btn-follow {
    font-size: 56px;
  }
  .btn-config {
    font-size: 56px;
  }
  .btn-total-follow {
    font-size: 38px;
    background-color: transparent;
    border: none;
  }
  a {
    color: #282828;
  }
  a:hover {
    color: #667d85;
    text-decoration: none;
  }
  .class-post {
    padding: 10px;
    background-color: #e6eaec;
    margin: 10px;
    margin-top: 40px;
    border: 1px solid #667d85;
  }
  .save {
    font-size: 1.5rem !important;
    background-color: #bcc7cb;
    border: none;
    color: #282828;
    font-weight: bold;
  }
  .save:hover {
    background-color: #667d85;
    border: none;
    color: #e6eaec;
  }
  .profile {
    border: 1px solid #e6eaec;
    padding: 10px;
    background-color: #f4f5f1;
    margin: 20px;
    text-align: center;
    transition: all 1s ease-in;
  }
  .info-form {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  .info-form a {
    color: #667d85;
  }
  .total-likes {
    font-size: 1.5rem;
  }
  .label-config {
    font-size: 1.3rem;
  }
  .btn-modal-newpost {
    background-color: #667d85;
    width: 85%;
    border: 0.5px solid #282828;
    margin-top: 20px;
    color: #e6eaec;
    margin-bottom: 20px;
    font-family: "roboto";
    font-size: 2rem;
    transition: background-color 1s ease-out 100ms;
    transition: color 0.5s ease-out 100ms;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-modal-newpost:hover {
    background-color: #c0d3df;
    color: #282828;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  .new-post-content {
    background-color: #e6eaec;
  }
  .message {
    font-size: 60px;
    font-family: "roboto";
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #bcc7cb;
  }
  .data-info {
    font-size: 1.5rem;
    color: #7e102f;
    border: 1px solid #7e102f;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  .follows {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1025px) {
  .card {
    width: 80%;
    justify-content: center;
    margin: auto;
  }
  .container {
    justify-content: center !important;
    display: table;
  }
  .body {
    justify-content: center !important;
  }
  .mr-auto {
    margin-left: 20%;
  }
  .ml-auto {
    margin-right: 20%;
  }
  .likebutton, .edit, .delete {
    font-size: 16px;
    color: #919396;
  }
  .delete {
    margin-left: 20px;
    background-color: transparent;
    border: none;
  }
  .edit {
    background-color: transparent;
    border: none;
  }
  .edit:hover, .delete:hover {
    color: #667d85;
  }
  .card-subtitle {
    font-size: 14px;
    margin: 0.5rem 0;
  }
  .card-text {
    font-size: 24px;
    color: #282828;
  }
  .card-header {
    background-image: url(./bck2.png), linear-gradient(-90deg, #667d85, #c0d3df);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .card-body {
    background-color: #e6eaec !important;
  }
  .page-item,
  .page-link {
    font-size: 16px;
    position: relative;
    display: block;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #e6eaec !important;
    border: 1px solid #bcc7cb !important;
  }
  .btn-follow {
    font-size: 30px;
  }
  .btn-total-follow {
    font-size: 16px;
    background-color: transparent;
    border: none;
  }
  a {
    color: #282828;
  }
  a:hover {
    color: #667d85;
    text-decoration: none;
  }
  .details-follow {
    font-size: 24px;
    margin: 10px;
    color: #919396;
    font-family: "roboto";
  }
  .details-name {
    font-size: 34px;
    margin: 10px;
    color: #282828;
    font-family: "roboto";
  }
  .class-post {
    padding: 10px;
    background-color: #e6eaec;
    margin: 10px;
    border: 1px solid #667d85;
  }
  .profile {
    border: 1px solid #e6eaec;
    padding: 10px;
    background-color: #f4f5f1;
    margin: 20px;
    text-align: center;
  }
  .save {
    font-size: 16px;
    background-color: #bcc7cb;
    border: none;
    color: #282828;
    font-weight: bold;
    width: 30%;
  }
  .save:hover {
    background-color: #667d85;
    border: none;
    color: #e6eaec;
  }
  .info-form {
    margin-top: 10px;
    font-size: 16px;
  }
  .total-likes {
    font-size: 1.3rem;
  }
  .btn-config {
    font-size: 30px;
  }
  .label-config {
    font-size: 16px;
  }
  .btn-modal-newpost {
    background-color: #667d85;
    width: 85%;
    border: 0.5px solid #282828;
    margin-top: 20px;
    color: #e6eaec;
    margin-bottom: 20px;
    font-family: "roboto";
    font-size: 26px;
    transition: background-color 1s ease-out 100ms;
    transition: color 0.5s ease-out 100ms;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-modal-newpost:hover {
    background-color: #c0d3df;
    color: #282828;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  .new-post-content {
    background-color: #e6eaec;
  }
  .message {
    font-size: 40px;
    font-family: "roboto";
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #bcc7cb;
  }
  .data-info {
    font-size: 16px;
    color: #7e102f;
  }
}
.fa-cog {
  color: #667d85;
}

.modal-title {
  color: #667d85 !important;
}

.pagination {
  margin-bottom: 1rem;
  margin-bottom: 20px;
}

.nav__cont {
  position: fixed;
  width: 60px;
  top: 0;
  height: 100vh;
  z-index: 100;
  background: linear-gradient(140deg, #e6eaec, #667d85, #303134, #919396);
  background-size: 250% 200%;
  animation: gradient 4s ease infinite;
  overflow: hidden;
  transition: width 0.5s ease;
  cursor: pointer;
  box-shadow: 4px 7px 10px #54565b;
}
.nav__cont:hover {
  width: 200px;
}
@media screen and (min-width: 600px) {
  .nav__cont {
    width: 80px;
  }
}

.body {
  margin-top: 3rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav {
  list-style-type: none;
  color: #e6eaec;
}
.nav:first-child {
  padding-top: 1.5rem;
}

.nav__items {
  font-family: "roboto";
}
@media screen and (min-width: 769px) {
  .nav__items {
    padding-bottom: 4rem;
  }
}
.nav__items a {
  position: relative;
  display: block;
  top: -35px;
  padding-left: 55px;
  padding-right: 15px;
  transition: all 0.3s ease;
  margin-left: 25px;
  margin-right: 10px;
  text-decoration: none;
  color: #e6eaec;
  font-family: "roboto";
  font-weight: 100;
  font-size: 1.35em;
}
.nav__items a:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background: radial-gradient(circle at 94.02% 88.03%, #e6eaec, transparent 100%);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: -10;
}
.nav__items:hover a:after {
  opacity: 1;
}
.nav__items svg {
  width: 26px;
  height: 26px;
  position: relative;
  left: 20px;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .nav__items svg {
    width: 32px;
    height: 32px;
    left: 25px;
  }
}

#checkbox,
.hamburger-lines {
  display: none;
}

@media (max-width: 768px) {
  .nav__cont {
    display: none;
  }
  #checkbox:checked ~ .nav__cont {
    transform: translateX(0);
    display: table;
    width: 30%;
    opacity: 0.8;
    z-index: 10000;
  }
  #checkbox:checked ~ .nav__cont :first-child {
    margin-top: 1rem;
  }
  #checkbox:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }
  #checkbox:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  #checkbox:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
  #checkbox,
  .hamburger-lines {
    display: block;
  }
  #checkbox {
    position: fixed;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 100000;
    opacity: 0;
  }
  .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: fixed;
    top: 17px;
    left: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #667d85;
  }
  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .body {
    margin-top: 4rem;
  }
  .total-likes, .likebutton, .edit, .delete {
    font-size: 1rem !important;
  }
  .btn-modal-newpost {
    font-size: 1.2rem !important;
  }
  .modal-content {
    display: flex !important;
    justify-content: center;
  }
  .card-subtitle {
    font-size: 0.6rem;
    margin: 0.5rem 0;
  }
  .card-text {
    font-size: 1rem;
  }
  .card {
    width: 99%;
  }
  .card-body {
    padding: 0.2rem 1rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
  .card-header {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }
  .nav__cont {
    height: 155vh;
  }
  .form-control, .form-control:focus, .form-control:active {
    font-size: 1rem !important;
  }
  .save {
    font-size: 1rem !important;
    font-weight: bold;
  }
  .info-form {
    font-size: 0.8rem;
    font-family: "roboto";
  }
  .modal-dialog {
    height: 100vh;
  }
  .modal-backdrop {
    height: 155vh;
    width: 155vw;
  }
  .page-link:active, .page-item, .page-link {
    font-size: 1rem !important;
    padding: 3px;
    margin-left: -1px;
    line-height: 1.5;
  }
  .info-form > a {
    color: #667d85;
  }
  .details-name {
    font-size: 1.5rem;
  }
  .btn-total-follow {
    font-size: 1rem;
  }
  .follows {
    font-size: 1rem;
  }
  .profile {
    margin: 0 !important;
  }
  .btn-config {
    font-size: 2rem;
    margin: 0rem 0;
  }
  .label-config {
    font-size: 1.3rem;
  }
  .btn-follow {
    font-size: 2rem;
    color: #667d85;
  }
  .dropdown-toggle {
    width: 6rem !important;
    font-size: 0.7rem !important;
  }
  .dropdown-menu.show {
    float: left;
    min-width: 6rem !important;
    padding: 0.5rem;
    margin: 0.125rem 0 0;
    font-size: 0.7rem;
    color: #54565b;
    text-align: left;
    list-style: none;
    background-color: #e6eaec;
    background-clip: border-box;
    box-shadow: 4px 7px 10px #919396;
  }
  .dropdown-menu.show > li {
    margin: 0.5rem 0;
    display: flex !important;
    justify-content: center;
  }
  .page-link:active, .page-item, .page-link {
    font-size: 0.7rem !important;
    padding: 3px;
    margin-left: -1px;
    line-height: 1.5;
  }
  .data-info {
    font-size: 1rem;
  }
  div.container.login {
    width: 100% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
div#create.modal.fade.modal-create.show {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.dropdown-toggle {
  width: 8rem;
  background-color: #667d85;
}

.dropdown-menu.show {
  float: left;
  min-width: 8rem;
  padding: 0.5rem;
  margin: 0.125rem 0 0;
  font-size: 1.1rem;
  color: #54565b;
  text-align: left;
  list-style: none;
  background-color: #e6eaec;
  background-clip: border-box;
  box-shadow: 4px 7px 10px #919396;
}

.dropdown-menu.show > li {
  margin: 0.5rem 0;
  display: flex !important;
  justify-content: center;
}

div.container.login {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4.message {
  font-size: 2rem;
  color: #7e102f;
  border-bottom: 1px solid #7e102f;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.btn-follow {
  color: #667d85;
}/*# sourceMappingURL=style07.css.map */